.material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 1, 'opsz' 100;
	background: rgb(192, 190, 190);
	/* background-image: url('./icons8-phone.svg'); */
	height: stretch;
	width: auto;
	padding: 4.19%;
}
