/* .button{
    border: 'none';
    border-radius: 100px;
    width: '150px';
    height: '55px';
    backgroundColor: '#fa2d64';
    color: '#ffffff';
    fontStyle: 'normal';
    fontFamily: 'Inter';
    fontWeight: '600';
    textAlign: 'center';
    fontSize: '26px';
    cursor: 'pointer';
}
.fontname {
    fontFamily: 'Inter',
} */